/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #a1cdd6;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #b5d2d8;
	border-radius: 5px;
}

@font-face {
    font-family: Prompt;
    src: url(../font/Prompt-Regular.ttf);
}

@font-face {
    font-family: Acme;
    src: url(../font/Acme-Regular.ttf);
}

h4, h5, h6,
h1, h2, h3 {
	font-family: Acme, sans-serif;
}

ul {
	padding-left: 1.5rem;
}

body {
    font-family: Prompt, sans-serif;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	text-decoration:none;
}

a:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    text-decoration:none;
}

/*-- sidebar --*/
.sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 1.5rem;
	background:#6ecadc;
	display:block;
	width:18%;
	transition: left 1s;
}

.sidebar-toggle-btn{
	top: 48%; 
	left: 18%;
	position: fixed;
	background:#6ecadc;
	color: #fff;
	border: none;
	padding: 10px;
	transition: left 1s;
}

.sidebar-toggle-btn:hover {
	background:#83cbda;
}

.sidebar-toggle-btn:focus {
	border: 2px solid #09a2c0;
	border-left: 2px solid #6ecadc;
}

.sidebar-toggle-btn img {
	width: 70px;
	height: 70px;
	user-select: none;
}

h2 {
	font-size: 3rem;
	line-height: 1
}

h4 {
	font-size: 1.875rem;
	line-height: 2.25rem;
}

h6 {
	font-size: 1.5rem;
	line-height: 1.75rem;
}

.sidebar h2{
	margin-bottom: 1rem;
	color:#fff;
}

.sidebar img{
	border:1px solid #fff;
	padding:0.5rem;
	width:265px;
	height: 265px;
	border-radius: 50%;
	object-fit: fill;
	user-select: none;
}

.sidebar .svg-icon {
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
}

.sidebar h4{
	color:#000;
}

.sidebar p, .sidebar span, .sidebar p a{
	font-size: 1.25rem;
	line-height: 1.5rem;
	color:#FFF;
}

p, span, li, p a{
	font-size: 1.5rem;
	line-height: 2.5rem;
	text-align: justify;
}

.sidebar span{
	display: block;
	line-height: 1.5rem;
}

/*-- content section --*/

.main-section {
	width: 100%;  
	padding: 0 3rem;
}

.content{
	margin-right:1.5rem;
}

.section {
	margin:0 1.5rem 0 0;
}

.section h2 {
	color: #FFF;
	padding: 0.5rem 4.5rem;
	display: inline-block;
	width: 50%;
	background: #6ecadc;
	margin-bottom: 0;
	margin-left: -3rem;
}

.inner-section {
	padding:1.5rem 0 1.5rem 1.5rem;
}

.inner-section h4{
	color:#1dbede;
	margin-bottom: 0.75rem;
}

.inner-section h4 span{
	margin-left: 0.75rem;
	color: #999;
}

.inner-section h6{
	font-weight:400;
	margin-bottom:1.5rem;
}

.inner-section p, li{
	margin-bottom: 0px;
}

.callout {
	padding: 1.5rem;
	border: 1px solid #e9ecef;
	border-left-width: 0.25rem;
	border-radius: 0.25rem;
	border-left-color: #6ecadc;
}

/*--progress bar--*/
progress {
	vertical-align: baseline; 
}

.progress-bar-grids h6 {
	color: var(--title-color);
	margin-bottom: 0.75rem; 
	font-family: Acme, sans-serif;
}

@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 1rem 0; }
	to {
		background-position: 0 0; } 
}
  
@keyframes progress-bar-stripes {
	from {
		background-position: 1rem 0; }
	to {
		background-position: 0 0; } 
}
	
.progress {
	display: flex;
	height: .3rem;
	overflow: hidden;
	font-size: 0.75rem;
	background-color: #e9ecef;
	border-radius: 0.25rem; 
}
  
.progress-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background: #6ecadc;
	transition: width 0.6s ease; 
}

@media (prefers-reduced-motion: reduce) {
	.progress-bar {
		transition: none; 
	} 
}
  
.progress-bar-striped {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 1rem 1rem; 
}
	
.progress-bar-animated {
	-webkit-animation: progress-bar-stripes 1s linear infinite;
	animation: progress-bar-stripes 1s linear infinite; 
}

@media (prefers-reduced-motion: reduce) {
	.progress-bar-animated {
		-webkit-animation: none;
		animation: none; 
	} 
}

/*--responsive--*/

@media (min-width: 1024px){
	h2 {
		font-size: 2.25rem;
	}
	
	h4 {
		font-size: 1.6rem;
	}

	h6 {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.sidebar p, .sidebar span, .sidebar p a, p, span, li, p a{
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.sidebar img{ 
		width: 200px;
		height: 200px;
	}

	.sidebar-toggle-btn img {
		width: 50px;
		height: 50px;
	}
}

@media (min-width: 1280px){
	h2 {
		font-size: 2rem;
	}

	.sidebar img{ 
		width: 165px;
		height: 165px;
	}

	.sidebar-toggle-btn img {
		width: 30px;
		height: 30px;
	}
}
